<div class="py-md-5 my-5">
  <h1>One <strong>song</strong></h1>
  <h1>One <strong>artist</strong></h1>
  <h1>One <strong>NFT</strong> on Tezos</h1>
</div>

<div class="row py-5 mb-5">
  <div *ngFor="let color of colors$ | async" class="col-12 py-3">
    <app-nft-card-item [color]="color"></app-nft-card-item>
  </div>
</div>

<div class="pt-5 pb-3 mt-5">
  <h3>About Us</h3>
</div>
<div class="row">
  <div class="col-12 col-md-6">
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset
      sheets containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
    </p>
  </div>
</div>

<div class="pt-5 pb-3 mt-5">
  <h3>Instructions</h3>
</div>
<div class="row">
  <div class="col-12 col-md-6">
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset
      sheets containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
    </p>
  </div>
</div>

<div class="pt-5 pb-3 mt-5">
  <h3>FAQ</h3>
</div>
<div class="row">
  <div class="col-12 col-md-6">
    <accordion>
      <accordion-group heading="Lorem ipsum">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently
        with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </accordion-group>

      <accordion-group heading="Lorem ipsum">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently
        with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </accordion-group>
    </accordion>
  </div>
</div>
