.card--color__header {
  height: 164px;
  border-radius: 16px;
}
.card--color--type__container {
  width: 24px;
  height: 24px;
  background-color: #fff;
  box-shadow: 0 40px 60px 0 rgba(0, 0, 0, 0.08),
    0 80px 160px 0 rgba(0, 0, 0, 0.04);
}
.card-color--type--symbol {
  height: inherit;
}
